# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
name: Node.js Package

on:
  push:
    branches:
      - main
  release:
    types: [created]
  workflow_dispatch:


permissions:
  contents: write
  issues: write
  pull-requests: write


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: echo "@pedrovasher:registry=https://npm.pkg.github.com/" >> ~/.npmrc
      - run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }}" >> ~/.npmrc
      - run: npm ci

  version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Increment version and push tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          npm version minor
          git push origin main --follow-tags

  publish-gpr:
    needs: [build, version]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/

      - name: Set Git Identity
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
      - run:
          echo "@PedroVasHer:registry=https://npm.pkg.github.com/" >> ~/.npmrc
      - run:
          echo "//https://npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN}}" >> ~/.npmrc
      - name: Increase the version to be published
        run: npm version patch
      - name: Publish to GitHub Packages
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
